<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keep Book</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

<main>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="notification {{ category }}">
        <button class="delete"></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</main>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.notification .delete').forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.remove();
            });
        });
    });

    function playSound() {
        const audio = new Audio('/static/sounds/TRALALERO TRALALA.mp3'); // adjust path as needed
        audio.volume = 0.3;  // 30% volume
        audio.play();
    }
</script>
</body>

</html>